<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangsanguan_8bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,758},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>chuangsanguan_chonglai.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,983},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>chuangsanguan_fangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,726},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
            <key>chuangsanguan_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,681},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>chuangsanguan_jixutiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,681},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
            <key>chuangsanguan_quchoujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,597},{108,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,39}}</string>
                <key>sourceSize</key>
                <string>{108,39}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,276},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,823},{44,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>duihuankouhong_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,911},{133,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,70}}</string>
                <key>sourceSize</key>
                <string>{133,70}</string>
            </dict>
            <key>duihuankouhong_anniuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,487},{152,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,33}}</string>
                <key>sourceSize</key>
                <string>{152,33}</string>
            </dict>
            <key>duihuankouhong_anniuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,862},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>duihuankouhong_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>duihuankouhong_biaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,589},{244,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,90}}</string>
                <key>sourceSize</key>
                <string>{244,90}</string>
            </dict>
            <key>duihuankouhong_biaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,497},{244,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{244,90}}</string>
                <key>sourceSize</key>
                <string>{286,106}</string>
            </dict>
            <key>duihuankouhong_guizeshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,271},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>duihuankouhong_keduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,846},{77,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>duihuankouhong_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,918},{122,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,69}}</string>
                <key>sourceSize</key>
                <string>{122,69}</string>
            </dict>
            <key>duihuankouhong_yishixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,929},{77,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>gongxiguoguan_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,655},{196,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,86}}</string>
                <key>sourceSize</key>
                <string>{196,86}</string>
            </dict>
            <key>gongxiguoguan_bang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{414,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,105}}</string>
                <key>sourceSize</key>
                <string>{414,105}</string>
            </dict>
            <key>gongxiguoguan_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{356,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,102}}</string>
                <key>sourceSize</key>
                <string>{356,102}</string>
            </dict>
            <key>gongxiguoguan_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,648},{146,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,172}}</string>
                <key>sourceSize</key>
                <string>{146,172}</string>
            </dict>
            <key>guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,369},{42,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guanqiadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,398},{218,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,78}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guliyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{622,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,105}}</string>
                <key>sourceSize</key>
                <string>{622,105}</string>
            </dict>
            <key>haoyouzhuli-anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,638},{97,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{97,43}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>haoyouzhuli-anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,511},{97,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{97,43}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>haoyouzhuli-anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,466},{97,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{97,43}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>haoyouzhuli-biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,405},{245,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{245,90}}</string>
                <key>sourceSize</key>
                <string>{331,90}</string>
            </dict>
            <key>haoyouzhuli-jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,721},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>haoyouzhuli-yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,862},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,567},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{199,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,274}}</string>
                <key>sourceSize</key>
                <string>{199,274}</string>
            </dict>
            <key>libao_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,885},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>libao_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,235},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>mainUI_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,34},{35,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,394},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,846},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>qiuchaoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,683},{97,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,35}}</string>
                <key>sourceSize</key>
                <string>{97,35}</string>
            </dict>
            <key>shibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,315},{330,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,52}}</string>
                <key>sourceSize</key>
                <string>{330,52}</string>
            </dict>
            <key>shipin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,291},{116,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,42}}</string>
                <key>sourceSize</key>
                <string>{116,42}</string>
            </dict>
            <key>shipin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,522},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>shipinchonglai.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,873},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>shoujixingzhuang_dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,141},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>shoujixingzhuang_shuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{63,27}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>shoujixingzhuang_shuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,767},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{51,51}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>shoujixingzhuang_shuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,335},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{75,25}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>shoujixingzhuang_shuzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,69},{19,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{19,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>shoujixingzhuang_shuzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,327},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>shoujixingzhuang_shuzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,758},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{61,59}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,808},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>tiaozhansai_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,567},{196,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,86}}</string>
                <key>sourceSize</key>
                <string>{196,86}</string>
            </dict>
            <key>tiaozhansai_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{532,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,148}}</string>
                <key>sourceSize</key>
                <string>{532,148}</string>
            </dict>
            <key>tiaozhansai_chuangguandong.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,823},{127,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{127,46}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>tiaozhansai_fanhuiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,803},{145,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,39}}</string>
                <key>sourceSize</key>
                <string>{145,39}</string>
            </dict>
            <key>tiaozhansai_fanhuiyouxi_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,900},{129,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,35}}</string>
                <key>sourceSize</key>
                <string>{129,35}</string>
            </dict>
            <key>tiaozhansai_kaishitiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,822},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>tiaozhansai_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,917},{75,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,36}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>tiaozhansai_rukoutubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,478},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>tiaozhansai_shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,478},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>tiaozhansai_tuichutiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,762},{145,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,39}}</string>
                <key>sourceSize</key>
                <string>{145,39}</string>
            </dict>
            <key>tuichudiushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,207},{334,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,106}}</string>
                <key>sourceSize</key>
                <string>{334,106}</string>
            </dict>
            <key>xiayiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,720},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>xinshou_shipin3bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,603},{147,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,43}}</string>
                <key>sourceSize</key>
                <string>{149,43}</string>
            </dict>
            <key>xuyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,369},{286,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,34}}</string>
                <key>sourceSize</key>
                <string>{286,34}</string>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
            <key>zaishiyici.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,885},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>zaiwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,844},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>zhuanpan_gongxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,30}}</string>
                <key>sourceSize</key>
                <string>{660,30}</string>
            </dict>
            <key>zhuanpan_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,363},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>zhuanpan_guizeanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,207},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>zhuanpan_huodongguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,106},{360,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,99}}</string>
                <key>sourceSize</key>
                <string>{360,99}</string>
            </dict>
            <key>zhuanpan_jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{194,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,30}}</string>
                <key>sourceSize</key>
                <string>{194,30}</string>
            </dict>
            <key>zhuanpan_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,822},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>zhuanpan_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,419},{83,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>zhuanpan_lianxikefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,722},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>zhuanpan_rukoutubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,602},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>zhuanpan_shengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,563},{148,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>zhuanpan_xinxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,743},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zhuanpan_xinxidi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,565},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9cd447fd62f77108d9386438c30f9ad:ed9677c907eff981207bbce0960d8247:fff5d3462710ccb9b3191fbae2209b60$</string>
            <key>textureFileName</key>
            <string>battle1.png</string>
        </dict>
    </dict>
</plist>
